Hello {{ data['name'] }}

Your PROV request {{ data['issue']['key'] }} has just been completed.

Please find details below:

Your IP Address is {{ data['issue']['fields']['customfield_10200'] }}

Enjoy your servers. Have lots of fun. Don't blame me if they break.

http://192.168.0.16:8080/browse/{{ data['issue']['key'] }}

Love and Hugs
Auto Jira Bot 3000
