Hello {{ data['name'] }}

You just moved {{ data['issue']['key'] }} into Done.

The automated email was not sent becuase some or all of the the following details were missing:
IP ADDRESS

The PROV has been moved back to 'IN Progress' please, upadate it with the required data, then move it back into Done.

http://192.168.0.16:8080/browse/{{ data['issue']['key'] }}

Love and Hugs
Auto Jira Bot 3000
